/Java/JAEjemplo1/nbproject/private/
/Java/JAEjemplo1/build/
/Java/JAEjemplo2/nbproject/private/
/Java/JAEjemplo2/build/
/Java/JAEjemplo1_1/nbproject/private/
/Java/JAEjemplo1_1/build/
/Java/JAEjemplo1_1/dist/